elpa/*
!elpa/.gitkeep

savefile/*
!savefile/.gitkeep

backups/*
!backups/.gitkeep

auto-saves/*
!auto-saves/.gitkeep

savehist/*
!savehist/.gitkeep

undo-tree-history/*
!undo-tree-history/.gitkeep

bookmarks

session.*

abbrev_defs
