elpa/*
!elpa/.gitkeep

savefile/*
!savefile/.gitkeep

backups/*
!backups/.gitkeep

auto-saves/*
!auto-saves/.gitkeep

savehistory/*
!savehistory/.gitkeep

undo-tree-history/*
!undo-tree-history/.gitkeep

session.*
